<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Estilos -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet">        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <title>Mi muro</title>
        <style>
            .txt {
                color: white;
            }
        </style>
    </head>
    <body>
        <nav class="navbar fixed-top navbar-light bg-light">
            <span class="navbar-brand mb-0 ml-5 h1"><i class="fab fa-instagram"></i> Instagram</span>
                <form class="form-inline">
                    <button
                    data-target="#exampleModal"
                    class="btn btn-dark"
                    type="button"
                    >
                    <a class="txt" href={{path('newPost')}}>Crear publicación</a>
                    </button>
                    {# ESTE BOTÓN LLEVARÁ A LA PLANTILLA CREAR POST #}
                    <div class="btn-group">
                            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" 
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-cog"></i>
                            </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href={{path('profile')}}>Ir a perfil</a>
                        <a class="dropdown-item" href={{path('app_login')}}>Login</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href={{path('app_logout')}}>Cerrar sesión</a>
                    </div>
                </div>
            </form>
        </nav>
        {% block body %}<h1>INSTAGRAM</h1>{% endblock %}
            {% block js %} {% endblock %}
        </div>

        {# MURO #}
        {% for post in postsResults %}
        <div class="card">
            <div class="card-header">
                <h4 class="titulo">{{post.titulo}}</h4>
                {# <p>{{post.fecha}}</p> #}
            </div>
            <img src={{post.imagen}} class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">23 Likes</h5>
                <p class="card-text">{{post.descripcion}}</p>
                <button type="button" class="btn btn-light btn-sm">
                    <i class="far fa-heart"></i>
                </button>
                <input type="text" class="form-control comentario" id="recipient-name" value="Escriba un comentario...">
                <button type="button" class="btn btn-light btn-sm">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
            </div>
        </div>
        {% endfor %}

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="form-group">
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                        <button type="button" class="btn btn-light btn-sm">
                            <i class="fas fa-camera"></i>
                        </button>
                        <button type="button" class="btn btn-light btn-sm">
                            <i class="fas fa-map-marker-alt"></i>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-success">Publicar</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>

    </body>
</html>
