<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Estilos -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            .newpost{
                margin-top: 10%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .newpost-form{
                padding: 5%;
                width: 60%;
                -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            } 

        </style>
        <title>Instagram Photo Feed</title>
    </head>
    <body>
        <!-- Barra de navegación -->
        <nav class="navbar fixed-top navbar-light bg-light">
            <span class="navbar-brand mb-0 ml-5 h1"><i class="fab fa-instagram"></i> Instagram</span>
            <form class="form-inline">
                    {# <button
                    data-target="#exampleModal"
                    class="btn btn-dark"
                    type="button"
                    >
                    <a href={{path('newPost')}}>Crear publicación
                    </a>
                    </button> #}
            <div class="btn-group">
                    <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" 
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-cog"></i>
                    </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href={{path('profile')}}>Ir a perfil</a>
                    <a class="dropdown-item" href="#">Configuración</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href={{path('app_logout')}}>Cerrar sesión</a>
                </div>
            </div>
            </form>
        </nav>
        <div class="d-flex newpost">
            <div class="newpost-form d-flex justify-content-center">
                {{form_start(postForm)}}
                <div class="new-post-form-bs form-group">
                    {{form_widget(postForm)}}
                    <button
                    type="submit"
                    data-target="#exampleModal"
                    class="btn btn-dark"
                    type="button"
                    >
                    Publicar
                    </button>
                </div>
                {{form_end(postForm)}}
            </div>
        </div>
    </body>
</html>
