<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Estilos -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <title>Instagram Photo Feed</title>
        <style>
            .card{
                margin-top: 10%;
            }
            .txt {
                color: white;
            }
            .card-header{
                text-align: center;
            }
        </style>
    </head>
    <body>
        <!-- Barra de navegación -->
        <nav class="navbar fixed-top navbar-light bg-light">
            <span class="navbar-brand mb-0 ml-5 h1"><i class="fab fa-instagram"></i> Instagram</span>
            <form class="form-inline">
                    <button
                    data-target="#exampleModal"
                    class="btn btn-dark"
                    type="button"
                    >
                    <a class="txt" href={{path('newPost')}}>Crear publicación
                    </a>
                    </button>
                <div class="btn-group">
                    <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" 
                    aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-cog"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href={{path('home')}} class="dropdown-item" href="#">Menú Principal</a>
                        <div class="dropdown-divider"></div>
                        <a href={{path('app_logout')}} class="dropdown-item" href="#">Cerrar sesión</a>
                    </div>
                </div>
            </form>
        </nav>

        {# DATOS DE USUARIO #}

        {% for user in userData %}
            <div class="card">
                <div class="card-header">
                    <h4 class="titulo">Mi perfil</h4>
                    {# <h3>{{user}}<h3> #}
                {# <p>{{post.fecha}}</p> #}
                </div>
            </div>
        {% endfor %}

        {# POST USUARIO #}

        {% for post in userPosts %}
        <div class="card">
            <div class="card-header">
                <h4 class="titulo">{{post.titulo}}</h4>
                {# <p>{{post.fecha}}</p> #}
            </div>
            <img src={{post.imagen}} class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">23 Likes</h5>
                <p class="card-text">{{post.descripcion}}</p>
                <button type="button" class="btn btn-light btn-sm">
                    <i class="far fa-heart"></i>
                </button>
                <input type="text" class="form-control comentario" id="recipient-name" value="Escriba un comentario...">
                <button type="button" class="btn btn-light btn-sm">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
            </div>
        </div>
        {% endfor %}
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>